body{
background-color: #0c0c0c;
overflow: hidden;
}

#container{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#slides{
  position: relative;
  width: 100%;
  height: 100%;
}

#slides .slide{
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%
}

#slides .slide .title{
  position: absolute;
  top: calc(50%-0.5em);
  left: 20px;
  z-index: 2;
  padding-top: 5px;
  overflow: hidden;
  display: block;
  transform: translateY(1.2em);
  transition: transform 1s ease-in-out;
  transform: translate(0);
  transition-delay: 0.3s;
}

#slides .slide .slide-partial{
  position: absolute;
  z-index: 1;
  width: 50%;
  overflow: hidden;
  transition: transform 1s ease-in-out;
}
#slides .slide .slide-partial img{
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  transition: transform 1s ease-in-out;
}
#slides .slide .slide-left{
  top: 0;
  left: 0;
  transform: translateX(-100%);
}
#slides .slide .slide-left img{
  top: 0;
  left: 0;
  object-position: 100% 50%;
  transform: translateX(50%);
}
#slides .slide .slide-rigth{
  top: 0;
  left: 0;
  transform: translateX(100%);
  transition-delay: 0.2s;
}
#slides .slide .slide-rigth img{
  top: 0;
  left: 0;
  object-position: 0% 50%;
  transform: translateX(-500%);
  transition-delay: 0.2s;
}
#slides .slide.active .title{
  transform: translate(0);
  transition-delay: 0.3s;
}
#slides .slide.active .slide-partial, slides .slide.active .slide-partial img{
  transform: translateX(0);
}
#slide select{
position: absolute;
bottom: 20px;
left: 20px;
z-index: 100;
display:flex;
align-items: center;
justify-content: space-around;
font-family: tahoma;
font-size: 1.5em;
font-weight: lighter;
color: white
}
#slide-select li{
position: relative;
cursor: pointer;
margin: 0 5px;
}
#slide-select li.prev:hover{
  transform: translateX(-2px);
}
#slide-select li.next:hover{
  transform: translateX(2px);
}
#slide-select .selector{
  height: 14px;
  width: 14px;
  border: 2px solid white;
  background-color: transparent;
  transition: background-color 0.5s ease-in-out;
}
#slide-select .selector.current{
  background-color: white;
}

.main {
  width: 100%;
  top: 20px;
  position: absolute;
  font-size: 15px;
  display: flex;
}
.container-fluid {
  margin-top:7%;
  margin-right: auto;
  margin-left: auto;
}
.navbar-left {
  text-align: left;
}
.navbar-rigth{
  text-align: right;
}
.header {
  position: relative;
  z-index: 50;
  background: #fff;
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
}
.row {

  display: flex;

}
.col-md-4 {
  flex: 0 0 25%;
  max-width: 25%}
.card {
  background: #ffffff none repeat scroll 0 0;
  margin: 12px ;
  padding: 60px;
  border: 0 solid #e7e7e7;
  border-radius: 3px;
  box-shadow: 0 5px 20px 0 rgba(0,0,0,0.15);
}
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(248, 173, 12);
  color: white;
}

.sidenav {
   margin-top:6%;
   height: 100%;
  position: absolute;
  width: 240px;
  height: 100%;

  background: #fff;
  -webkit-box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
  box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);

}
